<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <link rel="stylesheet" href="/stylesheets/profile.css">
</head>

<body>

    <div class="nav">
        <a class="logout" href="/logout">Logout</a>
    </div>

    <div class="container">
        <h1>Task Manager</h1>

        <form action="/addTask" method="POST" class="add-task">
            <input class="text" type="text" name="title" placeholder="Task Title" required>
            <input class="text" type="text" name="description" placeholder="Task Description" required>

            <input class="submit-link" type="submit" value="Add new task">
        </form>

        <% if(user && user.tasks && user.tasks.length> 0) { %>
            <% user.tasks.reverse().forEach(task=> { %>
                <div class="task-card">
                    <h3><%= task.title %></h3>
                    <p><%= task.description %></p>
                    <span class="status">Status: <%= task.status %></span>

                    <div class="buttons">
                        <a href="/edit-task/<%= task._id %>" class="edit">Edit</a>
                        <a href="/delete-task/<%= task._id %>" class="delete">Delete</a>
                        <a href="/change-status/<%= task._id %>" class="status-btn">Change Status</a>
                    </div>
                </div>
                <% }) %>
                    <% } else { %>
                        <p>No tasks available</p>
                        <% } %>
    </div>

</body>

</html>